// --------------------------------------------
// This file contains footer styles
// --------------------------------------------

footer {
  text-align: center;
  padding: 2rem;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
