// --------------------------------------------
// This file contains navigation styles
// --------------------------------------------

nav {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1rem 1fr 1rem;
	margin-top: 2rem;
}

nav ul {
	grid-column: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav li {
	padding: 0 1rem;
	list-style: none;
}

nav a {
	letter-spacing: var(--letter-spacing);
	text-transform: uppercase;
	&:hover {
		opacity: 0.3;
	}
}
