// --------------------------------------------
// This file contains button styles
// --------------------------------------------

.btn {
	border: 0;
	font-family: var(--primary-font);
	padding: var(--padding-button);
	border-radius: var(--border-radius);
	// width: 100%;
	// height: auto;
	transition: 100ms all;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	margin: 5px 0;
}

.btn:hover {
	opacity: 0.5;
}

.btn:active {
	background-color: transparent;
	transform: translateY(2px);
}

.btn--primary--solid {
	background-color: var(--color-5-normal);
}

.btn--secondary--solid {
	background-color: var(--color-2-normal);
	color: white;
}

.btn--success--solid {
	background-color: green;
	transform: scale(2);
}

.btn--primary--outline {
	background-color: transparent;
	border: 2px solid var(--btn-outline);
	color: var(--outline);
}

.btn--counter--outline {
	background-color: transparent;
	border: 2px solid var(--btn-outline);
	color: var(--outline);
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
