// --------------------------------------------
// This file contains form styles
// --------------------------------------------
form {
  //background: yellow;
  width: 500px;
  padding: 2rem;
}
input {
  display: block;
  outline: none;
  padding: 1rem;
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
}
input:invalid:not(:placeholder-shown):not(:focus) {
  border-color: red;
  color: red;
  background-image: var(--error);
  animation: shake 0.125s 2 backwards;
}
input:invalid {
  animation: shake 0.125s 2 backwards;
}
input:invalid:not(:placeholder-shown):not(:focus) ~ .instruction {
  opacity: 1;
}
input:focus {
  border-color: #504ecc;
}
input:valid:not(:placeholder-shown):not(:focus) {
  border-color: #5c665a;
}
@keyframes shake {
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}
/*
form {
	background: yellow;
	width: 500px;
	padding: 2rem;
}
input {
	padding: 1rem;
	width: 100%;
	border: var(--border);
	border-radius: var(--border-radius);
	&:valid {
		border: 5px solid green;
	}
	&:invalid {
		border: 5px solid red;
	}
}*/
